.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Definindo a altura para a altura total da viewport */
}

.loading-spinner {
  border: 4px solid #0FAE79;
  border-left-color: var(--ion-color-success-shade);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
